body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  position: fixed;
  width: 100%;
  background-color: black;
  color: #fff;
  z-index: 999;
}

.header__top-inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 63px;
}

.header__menu-item:not(:last-child) {
  margin-right: 58px;
}

.header__menu-link {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.header__menu-item.active .header__menu-link {
  color: #fe9013;
}

.header__bottom {
  background-image: url("./assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

.header__bottom-inner {
  display: flex;
  justify-content: flex-end;
}

.header__inner-content {
  margin-bottom: 100px;
  width: 574px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__inner-text {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #fff;
  text-align: center;
  font-size: 106.496px;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  /* 79.872px */
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}

.header__inner-text span {
  color: #ffee2e;
  font-size: 106.496px;
  font-style: normal;
}

.header__inner-text p {
  position: absolute;
  top: 74px;
  left: 74px;
}

.header__button {
  align-self: center;
  color: #fff;
  display: flex;
  width: 298px;
  height: 54px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  text-transform: uppercase;
}


/*-------------- Bamboo-cap ------------*/
.bamboo-cap {
  margin-top: 140px;
}

.Bamboo-cap__picture {
  width: 609px;
  height: 403px;
  flex-shrink: 0;
}


.Bamboo-cap__inner {
  display: flex;
  justify-content: center;
}

.text_bamboo-cap {

  margin-left: 87px;
}

.Bamboo-cap_tetx_one {
  color: #333B41;

  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.Bamboo-cap_text_twoo {
  margin-top: 20px;
  color: #333B41;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.Bamboo-cap_text_three {
  margin-top: 54px;
  color: #333B41;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.Bamboo-cap_text_four {
  margin-top: 34px;
  color: #333B41;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.flover_picture {
  position: absolute;
  right: 0;

}

.flover_picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*____________________________ slider_________________________________ */


.corousel-slide {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 180px;
}

.carousel-slide_1 {
  width: 366px;
  height: 406px;
  border-radius: 5px;
  border: 1px solid var(--2, #FA6F32);
}

.slide-text_one {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  text-transform: uppercase;
}

.icon-slide {
  margin-right: 20px;
  margin-left: auto;
  width: 33px;
  height: 37px;
}

.slide-content {
  display: flex;
}

.flower_2 {
  position: absolute;
  padding-top: 746px;
}

.flower_3 {
  right: 0;
  position: absolute;
  padding-top: 930px;
}

.errow_left {
  margin-left: 200px;
  position: absolute;
  margin-top: 390px;
}

.errow_right {
  margin-top: 390px;
  margin-right: 200px;
  right: 0;
  position: absolute;
}

.buton_favorite {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}



/* _________________________________________________Pick and feed a friend_________________________________________________ */

.pick_and_feed{
  background: linear-gradient(-19.79deg, rgba(254, 210, 144, 0.7) 29.239%,rgb(254, 189, 171) 101.099%,rgba(254, 210, 144, 0.7) 106.584%),linear-gradient(-19.79deg, rgba(254, 189, 171, 0.74) 29.239%,rgba(243, 169, 248, 0.66) 50.209%,rgb(224, 216, 240) 80.361%,rgb(234, 247, 254) 128.424%,rgb(234, 247, 254) 150.358%),linear-gradient(-19.79deg, rgba(254, 189, 171, 0.74) 29.239%,rgba(243, 169, 248, 0.66) 50.209%,rgb(224, 216, 240) 80.361%,rgb(234, 247, 254) 128.424%,rgb(234, 247, 254) 150.358%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}
.container-pick-and-feed{
  border-radius: 20px;
  backdrop-filter: blur(4px);
  background: rgba(253, 253, 255, 0.52);
  color: rgb(51, 59, 65);
  padding-top:41px;
  padding-bottom: 50px;
}
.pick-and-feed__info-title{
  color: rgb(254, 144, 19);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 30px;
  text-align: center;
}
.pick-and-feed__info-subtitle{
  margin-left: 99px;
  margin-bottom: 40px;
}
.pick-and-feed__info-text:not(:last-child){
  margin-bottom: 10px;
  margin-left: 99px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}
.pick-and-feed__info-text:last-child{
  margin-bottom: 60px;
  margin-left:99px;
}
.pick-and-feed__process{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.pick-and-feed__process-steps{
  display: inline-flex;
  gap: 30px;
}
.pick-and-feed__process-title{
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 40px;
}
.pick-and-feed__process-arrow{
  margin-top: 62px;
}
.pick-and-feed_process-step-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: white;
  border: solid 1px rgb(253, 142, 32);
  border-radius: 5px;
}
.pick-and-feed__process-step-name{
  margin-top: 30px;
  max-width: 168px;
}
.pick-and-feed__button{
  width: 298px;
  height: 54px;
  flex-shrink: 0;
  text-transform: uppercase;
  border-radius: 25px;
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
  border: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.testimonial__image img{
  border-radius: 50%;
}
.reviews{
  position: relative;
  overflow: hidden;
}
.testimonial__image{
  margin-right: 10px;
}
.reviews__title{
  color: rgb(51, 59, 65);
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0;
  margin-top: 140px;
  margin-bottom: 47px;
  text-align: center;
}
.testimonial{
  padding: 15px;
  color: black;
  /* testimonials */
  min-width: 238px;
  height: 361px;
  /* pink_gradient */
  border-radius: 20px;

  /* gray_light */
  background: rgb(241, 243, 242);
}
.testimonal__header{
  display: flex;
  margin-bottom: 10px;
}
.testimonials{
  gap: 29px;
  padding-bottom: 21px;
  display: flex;
  flex: 1;
  max-height: 575px;
  overflow-x: scroll;
  scrollbar-color: rgb(254, 144, 19) transparent;
  scrollbar-arrow-color: transparent;
}
.testimonial__date-and-location{
  color: rgb(189, 189, 189);
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0;
}
.testimonial__text{
  overflow: hidden;
  color: rgb(118, 116, 116);
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0;
  max-height: 309px;
}
.reviews__feedback{
  margin-top: 30px;
  color: white;
  width: 298px;
  height: 54px;
  margin-bottom: 180px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  border-radius: 5px;
  border: none;
  background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
  text-transform: uppercase;
}
.reviews__flower{
  background-image: url(./assets/images/flower4.png);
  width: 368px;
  height: 275px;
  right: -150px;
  bottom: -30px;
  transform: rotate(-10deg);
  position: absolute;
  background-size: cover;
}